<span>List of CVE</span>


<div>
    <div onclick="showHideToggle('divFilter')" class="panel">Filter | search</div>
<div id="divFilter" class="block" style="display: block;">
    <div>
    <label>Project</label>
    <select name="filterProject" id = "filterProject">
        <option value="any">Any</option>
        {{#each projects}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    </div>
    <div>
    <label>Per page</label>
    <select name="perpage" id = "perpage">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="50">100</option>
    </select>
    </div>
    <button onclick="doFilter()">Filter</button>
    <button onclick="doSearch()">Search</button>
    <button onclick="doSearchFilter()">Search with Filter</button>
    {{!-- Filter --}}
    {{!-- Project --}}
    {{!-- Componnet --}}
    {{!-- Module --}}
</div>
</div>

<div>
    {{!-- Result --}}
<table border="1" id = "tblCVE" style="width:100%;table-layout: fixed;word-wrap: break-word;white-space: pre-line">
    <colgroup>
    <col style="width:3%"/>
    <col style="width:10%"/>
    <col style="width:10%"/>
    <col style="width:40%"/>
    <col />
    <col style="width:20%"/>
    <col/>
    <col/>
  </colgroup>
<tr>
    <th>No</th>
    <th>Vul ID</th>
    <th>CVE ID</th>
    <th>CVE Title</th>
    <th>Source</th>
    <th>Ref</th>
    <th>Tag</th>
    <th>Module</th>
    <th>Project</th>
</tr>

<div id="divPage">
</div>

</table>
</div>
<div id="dlgEditModule" style="display:none;padding: .3em;">
    <label for="txtCVEID">ID</label>
    <input type="text" name="txtCVEID" id="txtCVEID" value = "" class="text ui-widget-content ui-corner-all" disabled>
    <label for="txtModName">Module name</label>
    <input type="text" name="txtModName" id="txtModName" value = "" class="text ui-widget-content ui-corner-all">
    <label for="txtModVer">Version</label>
    <input type="text" name="txtModVer" id="txtModVer" value = "" class="text ui-widget-content ui-corner-all">
  </div>
{{#section 'jquery'}}
<script type="text/javascript" src="/js/listcve.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/css/listcve.css"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
{{/section}}