
<h1>Administration</h1>
<ul>
    <li><a href="/importcve">Import CVE</a>: Import CVE, Vulnerability</li>
    <li><a href="/importlist">Import CVE Management</a>: Manage CVE import</li>
    <li><a href="/editcves">Edit Vulnerabilities</a>: Manage (edit, add, remove, etc.) Vulnerabilities</li>
    <li><a href="/editprojects">Edit Projects</a>: Manage (edit, add, remove, etc.) Project</li>
    <li><a href="/editmodules">Edit Modules</a>: Manage (edit, add, remove, etc.) Module</li>
    <li><a href="/edittags">Edit Tags</a><: Manage (edit, add, remove, etc.) Tags/li>
</ul>
