<h1>IMPORT MANAGEMENT</h1>


<div id="divImport">
<table border="1" name = "tblList"  id = "tblList" class="tableList">
    <colgroup>
    <col style="width:5%"/>
    <col style="width:20%"/>
    <col style="width:20%"/>
    <col/>
    <col/>
    <col/>
    <col/>
    <col/>
  </colgroup>
<tr>
    <th>No</th>
    <th>Import ID</th>
    <th>Title</th>
    <th>Source</th>
    <th>Status</th>
    <th>result</th>
    <th>Added</th>
    <th>Skipped</th>
    <th>Import date</th>
    <th>Action</th>
    
</tr>
<tbody id = "tblListBody" name = "tblListBody">

</tbody>
</table>

  
</div>

{{#section 'jquery'}}
<script type="text/javascript" src="/js/admin_importlist.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
{{/section}}

{{#section 'jscript'}}
<script>
  $(document).ready(function() {

     
});
</script>
{{/section}}

{{#section 'css'}}

<link rel="stylesheet" href="/css/admin_importlist.css"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
<link rel="stylesheet" href="/css/tags.css"></script>
{{/section}}