<h1>Vulnerabilities</h1>


<div>
    <div onclick="showHideToggle('divFilter')" class="panel">Filter</div>
<div id="divFilter" class="vertical" style="border-style: solid;">
    <table>
        
        <tr>
            <td>Keyword</td>
            <td><input id="textKeyword" name="txtKeyword" type="text" placeholder="Name/CVE ID/Tag"/></td>

            {{!-- <td>Severity</td>
            <td>
                <select name="filterSeverity" id = "filterSeverity">
                    <option value="any">Any</option>
                    
                </select>
            </td> --}}
            <td>Project</td>
            <td>
                <select name="filterProject" id = "filterProject">
                    <option value="any">Any</option>
                    {{#each projects}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            <td>Module</td>
            <td>
                <select name="filterModule" id = "filterModule">
                    <option value="any">Any</option>
                    {{#each modules}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>
            {{!-- <td>Status</td>
            <td>
                <select name="filterStatus" id = "filterStatus">
                    <option value="any">Any</option>
                </select></td> --}}
            <td><button onclick="doFilter()">Filter</button></td>
        </tr>
    </table>
    
    

</div>
</div>

<div>
    {{!-- Result --}}
<table border="1" id = "tblCVE" style="width:100%;table-layout: fixed;word-wrap: break-word;white-space: pre-line">
    <colgroup>
    <col style="width:3%"/>
    <col style="width:10%"/>
    <col style="width:10%"/>
    <col style="width:30%"/>
    <col />
    <col style="width:20%"/>
    <col/>
    <col/>
    <col/>
  </colgroup>

<tr>
    <th>No</th>
    <th>Vul ID</th>
    <th>CVE ID</th>
    <th>CVE Title</th>
    <th>Source</th>
    <th>Ref</th>
    <th>Tag</th>
    <th>Module</th>
    <th>Project</th>
</tr>
<tbody id='tbodyCVE'>
    </tbody>
<div id="divSearchInfo">
<div id="divPage">
</div>

</table>
</div>

{{#section 'jquery'}}
<script type="text/javascript" src="/js/listcve.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/css/listcve.css"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
{{/section}}