Module management
<div>
  <button onclick="add_project()">Add</button>

</div>
{{!-- List of modules --}}
<div id="divModules">
<table border="1" name = "tblModule"  id = "tblModule" class="tableList">
    <colgroup>
    <col style="width:5%"/>
    <col style="width:20%"/>
    <col style="width:30%"/>
    <col/>
    <col/>
    <col/>
    <col/>
  </colgroup>
<tr>
    <th>No</th>
    <th>ID</th>
    <th>Name</th>
    <th>Desc</th>
    <th>Tag</th>
    <th>Version</th>
    <th>Projects</th>
    <th>No CVE</th>
</tr>
<tbody id = "tblBody" name = "tblBody">

</tbody>
</table>
<div id="divStatus" name="divStatus">
  Loading ...
</div>
  
</div>
<div id="dlgEdit" style="display:none;padding: .3em;">
    <label for="txtID">ID</label>
    <input type="text" name="txtID" id="txtID" value = "" class="text ui-widget-content ui-corner-all" disabled/>
    <label for="txtName">Name</label>
    <input type="text" name="txtName" id="txtName" value = "" class="text ui-widget-content ui-corner-all"/>
    <label for="txtDesc">Desc</label>
    <input type="text" name="txtDesc" id="txtDesc" value = "" class="text ui-widget-content ui-corner-all"/>
    <label for="txtVersion">Version</label>
    <input type="text" name="txtVersion" id="txtVersion" value = "" class="text ui-widget-content ui-corner-all"/>
    <label for="txtTag">Tag</label>
    <input type="text" list="opttags" id="txtTag" name="txtTag" >
    <datalist id="opttags" name="opttags">
            {{!-- {{#each tags}}
                <option value="{{name}}"/>
            {{/each}} --}}
    </datalist>
</div>
<div id="dlgInfo" style="display:none;padding: .3em;">
  <span id="spanInfo"></span>  
</div>
{{#section 'jquery'}}
<script type="text/javascript" src="/js/editmodule.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
{{/section}}

{{#section 'jscript'}}
<script>
  $(document).ready(function() {

     
});
</script>
{{/section}}

{{#section 'css'}}

<link rel="stylesheet" href="/css/editmodule.css"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
{{/section}}