
<span style="word-wrap: break-word;white-space: pre-line">

Manage cyber security vulnerabilities, hereafter vulnerabilities, include CVE, and/or any detected vulnerabilities which have not been assigned CVE number yet.

It shall not replace NIST, MITRE, etc., but rely on them.

Purpose is to manage status detected/disclosed vulnerabilities in projects.

Vulnerabilities include disclosed CVE (assigned CVE number), and any detected security issue/defect, etc.

Modules, like Linux Kernel, openssl, etc., may have many vulnerabilities.
Project, such as telematic, infotainment, gateway, etc., shall have may modules.
</span>

<div>
    <ul>
    <li><a href="/list">List Vulnerabilities</a>  </li>
    <li><a href="/projects">Project</a> </li>
    <li><a href="/modules">Modules</a> </li>
    </ul>
</div>