Import
<div>
    {{!-- <form onSubmit="return false; // Returning false stops the page from reloading"
    enctype="multipart/form-data"
    action="/importcve"
         method="post"
    />
	<button type="submit">dddd</button>
</form> --}}
<form id="uploadForm"
         enctype="multipart/form-data"
         action="/importcve"
         method="post"
         {{!-- onSubmit="return onsumbit()" --}}
         >
      <input type="file" name="cve" />
      <input type="submit" value="Upload Image" name="submit"/></form>
      <div id = "status"> Result</div>
</div>
{{#section 'jquery'}}
<script src="/js/jquery.form.min.js"></script>
<script src="/js/importcve.js"></script>
{{/section}}

{{#section 'jscript'}}
<script>
  $(document).ready(function() {

     $('#uploadForm').submit(function() {
        $("#status").empty().text("File is uploading...");
        $(this).ajaxSubmit({

            error: function(xhr) {
        status('Error: ' + xhr.status);
            },

            success: function(response) {
                $("#status").empty().text(response.success);
                console.log(response);
            }
    });
        //Very important line, it disable the page refresh.
    return false;
    });    
});
</script>
{{/section}}