<span>List of CVE</span>


<div>
    <div onclick="showHideToggle('divFilter')" class="panel">Filter | search</div>
<div id="divFilter" class="block" style="display: block;">
    <div>
    <label>Project</label>
    <select name="filterProject" id = "filterProject">
        <option value="any">Any</option>
        {{#each projects}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    </div>
    <button onclick="doFilter()">Filter</button>
    <button onclick="doSearch()">Search</button>
    <button onclick="doSearchFilter()">Search with Filter</button>
    {{!-- Filter --}}
    {{!-- Project --}}
    {{!-- Componnet --}}
    {{!-- Module --}}
</div>
</div>

<div>
    {{!-- Result --}}
<table border="1" id = "tblCVE">
<tr>
    <td>No</td>
    <td>CVE ID</td>
    <td>CVE Title</td>
    <td>Source</td>
    <td>Ref</td>
    <td>Tag</td>
</tr>

<div id="divPage">
</div>

</table>
</div>
<div>
    {{!-- Edit --}}
</div>

{{#section 'jquery'}}
<script type="text/javascript" src="/js/listcve.js"></script>
<script type="text/javascript">


</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/css/listcve.css"></script>
{{/section}}